<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054607998040-t1ubp7nlpeovepnafedlc27hiuvq20vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054607998040-t1ubp7nlpeovepnafedlc27hiuvq20vt</string>
	<key>API_KEY</key>
	<string>AIzaSyAgv4cUO88hV7sds-i2TilG5TUq4kWY_as</string>
	<key>GCM_SENDER_ID</key>
	<string>1054607998040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>everis.com.BabySafe</string>
	<key>PROJECT_ID</key>
	<string>babysafe-f0f18</string>
	<key>STORAGE_BUCKET</key>
	<string>babysafe-f0f18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054607998040:ios:b8241a1452e38f27d35e2d</string>
</dict>
</plist>